# test coverage
.coverage

# Исключаем временные файлы и каталоги
*.tmp
*.log

# Исключаем артефакты сборки
*.pyc
__pycache__/

# Исключаем каталоги виртуальных окружений
env/
venv/
semantic/

# Исключаем конфигурационные файлы IDE
.vscode/
.idea/

app/utils/logs/
# Исключаем файлы конфигурации и учетных данных
#.env

# Исключаем системные файлы
.DS_Store
